@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
<style>
      #Raquel {
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-family:'Tangerine',serif;
            font-size:38px;
           
        }
       #girl {
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-family:'Tangerine',serif;
            font-size:38px;
           
        }
      #div {
            display: block;
            margin-left: auto;
            margin-right: auto;
           align-content:flex-start;
           font-family: 'Tangerine',serif;
           font-size:38px;
        }
       h1 {
        font-family: 'Tangerine', serif;
        font-size: 70px;
      }
    </style>

   
    


 



    <div class="row">
        <div class="col-md-12">
            <div align="center"><h1>About</h1></div>
        </div><!--col-12-close-->
    </div><!--row-close-->

    <div class="row"id="div">
    <div class="col-md-2"></div>
    <!--<div class="col-md-12" style="height:100px;background:#FFFFFF" ;></div>-->
        <div class="col-md-4"><img src="~/Content/Images/modell.jpeg"class="img-responsive" style="height:400px;" />
        <!--<div class="col-md-6"border="solid;">-->
        </div><!--col 6 close-->
        <div class="col-md-4">
            <p> Born and raised in Cleveland,Ohio.I am six foot one.Art has always beeen my passion, whether drawing or painting
            Besides art I've found a passion in being a runway/print model.
             volunteer with the local organization "Lets Make a Change".</p>
        </div><!--col-6- close-->
        <div class="col-md-2"></div>
    </div><!--row 1 close-->

    <div class="row"> <!--empty space-->
    <div class="col-md-12" style="padding:20px;"></div><!--empty space-->
    </div>


            <div class="row"id="Raquel"><!--row 2 picture & copy-->
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/lmac.png"class="img-responsive"style="height:260px;"/>
                    </div>
                <div class="col-md-4">
                I've been apart of Let's Make a Change for a little over a year now. I love being apart of something that get's me outside of myself and my own world. I get teach and promote self confidence and indepence to young girls. I am able to be a mentor and tell them my story in hopes that they never give up.
                 I've worked as Event Coordinator, Beauty Coach, Social Media Manager and Art Director. 
                    <!-- stuff goes here-->


                </div><!--col-4-->
                <div class="col-md-2"></div>
            </div><!--row close-->
          
<div class="row">
    <!--empty space-->
    <div class="col-md-12" style="padding:20px;"></div><!--empty space-->
</div>


<div class="row"id="girl">
    <!--row 2 picture & copy-->
    <div class="col-md-2"></div>
    <div class="col-md-4">
        I've been a professional Print/Runway Model for about four years now, and I've never felt more like myself than I do while doing it. It's a real passion. I enjoy meeting all the different people and transforming into a completely different person. Every show is
        a new look, new theme, new designer, along with something crazy they want you to do. I live for it. You get such a rush when your on stage.
    </div>
    <div class="col-md-2">
    
        <!-- stuff goes here-->
        <img src="~/Content/Images/raqiii.jpg"class="img-responsive"style="height:300px;" /> 
       

    </div><!--col-4-->
    <div class="col-md-2"></div>
</div><!--row close-->