@{
    ViewBag.Title = "Contact";
}

<head>




    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">


    <style>
        #Raquel {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            font-family: 'Tangerine', serif;
            font-size: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        address {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        address {
            display: inline;
            font-size: 60px;
            font-family: 'Tangerine',serif;
            margin-right: auto;
        }

        .black {
            color: black;
        }
    </style>

</head>

<body>
    <div align="center"><h1>Contact</h1></div>

    <div class="row">
        <div class="col-md-5">
            <img src="~/Content/Images/riri.jpg" style="height:800px;" /></div>

        </div><!--col 5 close-->
        <div class="col-md-7">
        <div class="row"><!--inner grid for buttons-->
            <div class="col-md-12"> <!--button 1-->
                
                <div style="padding:20px;">
                    <a href="https://www.twitter.com/TALL_EGO_SLIM"><img src="~/Content/Images/twitter.png" height="200" alt="Twitter" /></a>
                

          
                <a href="http://www.instagram.com/raqiwright"><img src="~/Content/Images/Instagram-Logo.jpg" height="200"alt="Instagram" /></a>
            </div><!--button close-->
                </div><!--row close-->
            <div class="row">
                <div class="col-md-12">
                    <div id="social-icons" align="center">

                        <a href="http://www.linkedin.com/in/raquel-wright-40a609108"><img src="http://www.geocurator.org/linkedin-icon-transparent-background.png" width="200" height="200" alt="LinkedIn" /></a>
                        <a href="http://www.facebook.com/raquel.wright.56"><img src="http://www.aiaeic.org/images/aia-eic_fb.png" width="200" height="200" alt="Facebook" /></a>
                        <a href="https://github.com/wrightrl"><img src="http://static.movingpackets.net/2013/12/github-logo-transparent.jpg" width="200" height="200" alt="Github" /></a>
                    </div>


                    <address>

                        <center> Cleveland, Oh 44106    <abbr title="Phone">P:</abbr>216-799-4596</center>
                    </address>
                </div><!--col- md- 12-->
            </div><!--inner row bottom buttons-->

        </div> <!--col 7 close-->
    </div> <!--row close-->
</body>