@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

<head>

  
    <style>
         #Raquel {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
        
        ul {
        list-style-type: none;
         margin: 0;
         padding: 0;
       }
       li {
        display: inline;
        font-size:60px;
        font-family: 'Tangerine',serif;
        margin-right:auto;
        }
       .black{
           color:black;
       }


    </style>
   
    </head>
<body>

    <div class="container">
    <div class="row"></div>
        <!--<nav class="navbar navbar-default">
            <div class="navbar navbar-inverse navbar-fixed-top"id="div2"></div>-->
        
    

          

            <div class="container">
                <div align="center"id="div3"><h1>Model.Artist.Programmer.</h1></div>
                <div class="row">




                    <div class="col-md-3"><img src="~/Content/Images/riri.jpg"class="img-responsive" style="width:200px;" height="300" /></div>

                    <div class="col-md-3"><img src="~/Content/Images/fashioni.jpeg" class="img-responsive"style="width:200px;" height="300" /></div>

                    <div class="col-md-3"><img src="~/Content/Images/naomi.jpg"class="img-responsive" style="width:200px;" height="300" /></div>
                    <div class="col-md-3"><img src="~/Content/Images/modell.jpeg"class="img-responsive" style="width:200px;" height="300" /></div>
                </div>
            </div>
</div>


    </body>