
@{
    ViewBag.Title = "Project";
}
<head>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
        <style>
        #Raquel {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #flash {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #raqipage {
            display: block;
            margin-left: auto;
            margin-right: auto;
           
        }
        h1 {
            font-family: 'Tangerine', serif;
            font-size: 48px;
            margin-left:auto;
            margin-right:auto;
        }

        #sleep {
            font-size: 40px;
            font-family: 'Tangerine',serif;
           
        }

        #uok {
            font-size: 40px;
            font-family: 'Tangerine',serif;
           
        }

        h4 {
            display: inline;
            font-size: 40px;
            font-family: 'Tangerine',serif;
            margin-right: auto;
            margin-left:auto;
        }

     
    </style>

</head>

  
    
    <div class="row">
    <div class="col-md-12">
        <div align="center"><h1>Projects</h1></div>
    </div><!--col-12-close-->
</div><!--row-close-->

        <div class="row"id="sleep"><!--row project 1-->
            <div class="col-md-2"></div><!--empty-->
            <div class="col-md-8">
                <a href="http://flashdouble.toribeth.com"><img src="~/Content/Images/Screenshot.png"class="img-responsive" style="height:300px;" width:"300" id="flash" /></a>
                <br />  <h4>
                    This is the site I worked with Stephanie Gandy on built using WordPress.
                    The site is dedicated to the Entertainment Industry. Whenever someone cancels a gig we can help you find an immediate replacement. All you have to do is create a quick profile, post the gig and the specifics about what it is your looking for.
                </h4>
            </div><!--col-8-close-->
            <div class="col-md-2"></div><!--empty-->
        </div><!--col-2-close-->
    <!--row close-->
    <br />

    <div class="row"id="uok"><!--row project 2-->
        <div class="col-md-2"></div><!--empty-->
        <div class="col-md-8">
            <img src="~/Content/Images/raq.png"class="img-responsive" style="height:300px;" width:"300" id="raqipage" />
            <h4>This was a personal project for myself where I was building a site to show my modeling portfolio. It was built in MVC, uisng CSS and bootstrap.I wanted to build a site that shows my Portfolio, stats, and different modeling projects I've been apart of.</h4>
        </div><!--col-8-close-->
        <div class="col-md-2"></div><!--empty-->
    </div><!--row project 2 close-->


<div class="row"id="h4">
    <!--row project 2-->
    <div class="col-md-2"></div><!--empty-->
    <div class="col-md-8">
           <img src="~/Content/Images/contoso.png"class="img-responsive" style="height:300px;" width:"300" id="raqipage" />
        <h4>Here is a screenshot of a c# method I did to add two random numbers together.</h4>
    </div><!--col-8-close-->
    <div class="col-md-2"></div><!--empty-->
</div><!--row project 2 close-->

<div class="row"id="Raquel">
    <!--row project 2-->
    <div class="col-md-2"></div><!--empty-->
    <div class="col-md-8">
        <img src="~/Content/Images/contosoo.png"class="img-responsive" style="height:300px;" width:"300" id="raqipage" />
        <h4>Heres a screenshot from the Contoso site Database built in SQL Management and MVC.</h4>
    </div><!--col-8-close-->
    <div class="col-md-2"></div><!--empty-->
</div><!--row project 2 close-->
